<div class="panel-header panel-header-lg">
    <div class="header text-center">
        <h2 class="title">List of teams</h2>
    </div>
</div>

<div class="main-content">

    <div class="row">

        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">Teams</h4>
                </div> 

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let team of teams">
                            <td class="text-left">{{ team.id }}</td>
                            <td class="text-left">{{ team.name }}</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>