<!-- <div class="panel-header panel-header-lg">
    <div class="header text-center">
    </div>
</div>

<div class="main-content">

    <div class="row">

        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">
                        
                        <p class="category">Total 4</p>
                    </h4>

                    <div *ngIf="hasAdminRole">
                        <div class="col-md-4">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">

                            <table class="table table-striped">
                                <tbody>
                                    <tr *ngFor="let team of teams">
                                        <td class="text-left">{{ team.id }}</td>
                                        <td class="text-left">{{ team.name }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
 
     
</div> -->

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Clubs in the championship</h4>
        </div>
          <button mat-button class="orange-button" (click)="add()">New Team</button>

          <div class="card-body">
            <div class="table-responsive">


                <table class="table table-striped">
        
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
              <tbody>
                <tr *ngFor="let team of teams">
                    <td class="text-left">{{ team.id }}</td>
                    <td class="text-left">{{ team.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
     
   </div>
</div>
