<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Clubs in the championship</h4>
                </div>
                <!-- <div *ngIf="hasAdminRole">
                    <button mat-button class="orange-button" (click)="add()">New Match</button>
                </div> -->
                <div class="card-body">
                    <div class="table-responsive">


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Team</th>
                                    <th scope="col">Team</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">1</td>
                                    <td class="text-left">16/04/2023</td>
                                    <td class="text-left">Corinthians</td>
                                    <td class="text-left">Cruzeiro</td>
                                    <td class="text-left">Open</td>

                                </tr>
                                <!-- <tr *ngFor="let match of matchs">
                                    <td class="text-left">{{ match.id }}</td>
                                    <td class="text-left">{{ team.date }}</td>
                                    <td class="text-left">{{ team.teamA }}</td>
                                    <td class="text-left">x</td>
                                    <td class="text-left">{{ team.teamB }}</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>